<?php

    # Once you download the repository, change this file name to
    # setup.config and add your own pgsql user & password to this file
    # in place of the empty strings.
    # It has been ignored from commits in .gitignore

    $DB_USER = ""; //your pgsql username here
    $DB_PASS = ""; //your pgsql password here

    # Note: If you are getting fetch errors make sure your local database was
    # created with the same user that you input above to avoid permission issues
